<div class="customers-appreciate-item first-child">
    <div class="wr-icon">
        <img src="/assets/images/icon29.png" alt="icon">
    </div>
    <div class="item-content">
        <p class="name">Пунктуальность</p>
        <p class="text">Нам дорошо ваше время. Именно поэтому наше такси не опаздывает к своим клиентам.</p>
    </div>
</div>
<div class="customers-appreciate-item">
    <div class="wr-icon">
        <img src="/assets/images/icon30.png" alt="icon">
    </div>
    <div class="item-content">
        <p class="name">Вежливость</p>
        <p class="text">Ваша поездка будет приятная во всех отношениях с нашими корректными водителями.</p>
    </div>
</div>
<div class="customers-appreciate-item">
    <div class="wr-icon">
        <img src="/assets/images/icon31.png" alt="icon">
    </div>
    <div class="item-content">
        <p class="name">Комфорт</p>
        <p class="text">Поездка на такси должна быть быстрой и приятной, что обеспечат наши удобные авто.</p>
    </div>
</div>
<div class="customers-appreciate-item">
    <div class="wr-icon">
        <img src="/assets/images/icon32.png" alt="icon">
    </div>
    <div class="item-content">
        <p class="name">Экономичность</p>
        <p class="text">Мы держим самые низкие цены в городе не изменяя качеств услуг.</p>
    </div>
</div>
<div class="customers-appreciate-item first-child">
    <div class="wr-icon">
        <img src="/assets/images/icon33.png" alt="icon">
    </div>
    <div class="item-content">
        <p class="name">Удобство заказа</p>
        <p class="text">Удобные способы заказа такси. Можно вызвать машину по телефону или через интернет.</p>
    </div>
</div>
<div class="customers-appreciate-item">
    <div class="wr-icon">
        <img src="/assets/images/icon34.png" alt="icon">
    </div>
    <div class="item-content">
        <p class="name">Скорость</p>
        <p class="text">Возможность быстро рассчитать стоимость такси на сайте и получить информацию о
            времени.</p>
    </div>
</div>
<div class="customers-appreciate-item">
    <div class="wr-icon">
        <img src="/assets/images/icon35.png" alt="icon">
    </div>
    <div class="item-content">
        <p class="name">Гибкая оплата</p>
        <p class="text">Оплата как наличными, так и по карте.</p>
    </div>
</div>
<div class="customers-appreciate-item">
    <div class="wr-icon">
        <img src="/assets/images/icon36.png" alt="icon">
    </div>
    <div class="item-content">
        <p class="name">Услуги</p>
        <p class="text">Широкий выбор дополнительных услуг.</p>
    </div>
</div>