<h3 id="order-phone"><a href="tel:{{orderPhoneTel}}" target="_blank"><span
        class="sml">{{orderPhoneTop['leftPart']}}</span>{{orderPhoneTop['rightPart']}}</a></h3>
<div id="order-form">
    <noscript>Для полной функциональности этого сайта необходимо включить JavaScript. Посмотрите <a
            href="https://www.enable-javascript.com/ru/" target="_blank">инструкции, как включить JavaScript в вашем
        браузере</a>.
    </noscript>
<!--    <div id="sedi-changecity" data-cities="Обоянь"></div>-->
    <div id="sedi-orderform2" data-city="Обоянь">форма заказа</div>
    <!--SeDi-->
<!--    <noscript>Для полной функциональности этого сайта необходимо включить JavaScript. Посмотрите <a-->
<!--            href="https://www.enable-javascript.com/ru/" target="_blank">инструкции, как включить JavaScript в вашем-->
<!--        браузере</a>.-->
<!--    </noscript>-->
<!--    <div id="sedi-orderform3" data-city="Обоянь">форма заказа</div>-->
    <!--SeDi-->
</div>