<div class="additional-services-item first-child">
    <div class="wr-icon">
        <img src="/assets/images/icons/eco.png" alt="icon">
    </div>
    <div class="item-content">
        <div class="item-content-desc">
            <p class="name">Такси эконом</p>
            <p class="text">Стоимость такси начинается от <span>50</span> рублей.</p>
        </div>
        <div class="item-content-button">
            <a class="btn-jelou btn-jelou_voditel scrolled" href="/#order">Заказать такси</a>
        </div>
    </div>
</div>
<div class="additional-services-item">
    <div class="wr-icon">
        <img src="/assets/images/icons/gruzchik2.png" alt="icon">
    </div>
    <div class="item-content">
        <div class="item-content-desc">
            <p class="name">Доставка продуктов</p>
            <p class="text">Стоимость поездки от <span>50</span> рублей. плюс стоимость доставки <span>100</span>
                рублей.</p>
        </div>
        <a class="btn-jelou btn-jelou_voditel scrolled" href="/#order">Доставка продуктов</a>
    </div>
</div>