<footer>
    <div class="wrapper container navigation" id="navigation_bot">
        <div class="highSize">
            <nav>
                <ul>
                    <li><a href="politika">Политика конфиденциальности</a></li>
                    <li><a href="conditions">Условия заказа</a></li>
                </ul>
            </nav>
        </div>
        <div class="phone">
            <a href="tel:{{orderPhoneTel}}">
                <span class="phone_icon icons">&#xe802;</span>
                <span class="phone_light">{{orderPhoneBottom}}</span></a>
        </div>
    </div>
    <hr class="footerHr">
    <div class="wrapper" id="footer-copyright">
        <div class="copyright">
            © 2019 Все права защищены. Официальный сайт ТАКСИ MIRA. <br> ИП Успанова С В(Такси MIRA) (ОГРНИП
            318463200023053, ИНН 461902439750, Курская обл. Пристенский р-н. Д. Ольховатка. Ул Луговая 17) оказывает
            исключительно информационные услуги, не заключает договора перевозки, перевозчики не являются его
            работниками и не привлекаются обществом к исполнению обязательств по перевозке. Скидки предоставляются от
            тарифов перевозчиков, сотрудничающих с диспетчерской службой "Такси MIRA".
        </div>
        <div class="vooa"></div>
    </div>
</footer>